/* 페이지네이션 기본 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-btn {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #dcdcdc;
  border: none;
  cursor: pointer;
}

.page-btn:disabled {
  cursor: not-allowed;
  background-color: #dcdcdc;
}

.page-btn:hover:not(:disabled) {
  background-color: #0094ff;
  color: white;
}

.page-btn:focus {
  outline: none;
}

.page-btn.active {
  background-color: #0094ff;
  color: white;
}

/* 이전/다음 버튼에 여백 추가 */
.prev-btn,
.next-btn {
  padding: 0 15px;
  /* 좌우에 여백을 추가 */
  font-size: 18px;
  /* 버튼의 크기 증가 */
  border: none;

  color: #72b6ff;
  background-color: transparent;
}