iframe {
  width: 300px;
  height: 700px;
  border: none;
}

.mypage-container {
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.user-edit-btn,
.user-delete-btn {
  font-size: 15px !important;
  border: none;
  width: 200px !important;
  height: 30px !important;
  border-radius: 10px;
  color: white;
  font-weight: 400 !important;
}

.user-edit-btn {
  background-color: #0094ff;
}

.user-delete-btn {
  background-color: #8d8ba7 !important;
}
.mypage-button-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mypage-greet {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 12px;
  color: #8d8ba7;
}

strong {
  color: #0094ff;
}
.greet-box {
  border: #0094ff 1px solid;
  border-radius: 20px;
  padding: 10px;
}
.chart-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chart-box > p {
  font-size: 12px;
}
