.container {}


.container .form-container {
    width: auto;
    height: auto;
    padding: 60px;
}



.container .form-container button {
    width: 100%;
    height: 48px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;

    background-color: #42ADFB;
    color: white;
}