.group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
}

.group-outer-box {
  width: 40vw;
  height: 100vh;
  padding: 40px 60px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.group-outer-box:last-child {
  background-color: #E3F3FF;
}

.group-outer-box:last-child .group-create-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.group-outer-box:last-child .group-create-button button {
  width: 10vw;
  height: 53px;
  background-color: #0094ff;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  cursor: pointer;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 40px;
    width: 100%;
    gap: 14px;
  }

  .group-outer-box {
    width: 40vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

}