.myGroup {
    width: 100%;
}

.myGroupContainer {
    /* min-width: 647px; */
    width: 35VW;
    border: 1px solid #D4D2E3;
    border-radius: 24px;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 36px;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.myGroupContainer .myGroupDetail {}

.myGroupContainer .myGroupDetail h3 {
    margin: 0;
}

.myGroupContainer .myGroupDetail p {
    font-size: 14px;
    color: #A0A3BD;
    line-height: 16px;
}

.myGroupContainer .myGroupButton {}

.myGroupContainer .myGroupButton button {
    background-color: white;
    border: none;
    color: #0094ff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    margin-left: 8px;
    padding: 0 4px;
}

@media screen and (max-width: 768px) {

    .myGroupContainer {
        width: 47vw;
        border: 1px solid #D4D2E3;
        border-radius: 24px;
        background-color: white;
        margin-bottom: 20px;
        padding: 30px 36px;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .myGroupContainer .myGroupButton {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .myGroupContainer .myGroupButton button {
        margin-left: 0px;
        padding: 0 4px;
        width: 50%;
    }


}